<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/shak/bet/bet_animal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,919},{62,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>images/shak/bet/bet_animal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,856},{63,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,60}</string>
			</dict>
			<key>images/shak/bet/bet_animal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,793},{63,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,61}</string>
			</dict>
			<key>images/shak/bet/bet_animal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,740},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,62}</string>
			</dict>
			<key>images/shak/bet/bet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,856},{198,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,41}</string>
			</dict>
			<key>images/shak/bet/bet_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,740},{69,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,56}</string>
			</dict>
			<key>images/shak/bet/bet_bet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,796},{69,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,56}</string>
			</dict>
			<key>images/shak/bet/bet_bet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,856},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_bet4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,856},{147,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,56}</string>
			</dict>
			<key>images/shak/bet/bet_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,952},{84,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,35}</string>
			</dict>
			<key>images/shak/bet/bet_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,856},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>images/shak/bet/bet_btn10.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,897},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>images/shak/bet/bet_btn101.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,897},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_btn102.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,958},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_btn103.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,856},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_btn104.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,856},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_btn105.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,917},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_btn106.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,798},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_btn107.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,859},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_btn108.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,920},{133,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,61}</string>
			</dict>
			<key>images/shak/bet/bet_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,897},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>images/shak/bet/bet_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,896},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>images/shak/bet/bet_btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,941},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>images/shak/bet/bet_btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,896},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>images/shak/bet/bet_btn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,941},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>images/shak/bet/bet_btn7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,897},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>images/shak/bet/bet_btn8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,0},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>images/shak/bet/bet_btn9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,84},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>images/shak/bet/bet_glory.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,978},{35,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,27}</string>
			</dict>
			<key>images/shak/bet/bet_gold1.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,859},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>
			<key>images/shak/bet/bet_gold2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1003},{38,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,7}</string>
			</dict>
			<key>images/shak/bet/bet_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,981},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>images/shak/bet/bet_last.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,740},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>images/shak/bet/bet_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,0},{276,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,740}</string>
			</dict>
			<key>images/shak/bet/bet_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,798},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>images/shak/bet/bet_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1010},{265,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,1}</string>
			</dict>
			<key>images/shak/bet/bet_lost.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,978},{100,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,25}</string>
			</dict>
			<key>images/shak/bet/bet_online.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,993},{274,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,27}</string>
			</dict>
			<key>images/shak/bet/bet_points.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,986},{100,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,25}</string>
			</dict>
			<key>images/shak/bet/bet_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,859},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>
			<key>images/shak/bet/bet_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{798,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,740}</string>
			</dict>
			<key>images/shak/bet/bet_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{569,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,58}</string>
			</dict>
			<key>images/shak/bet/bet_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,740},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,785},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,841},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,785},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,740},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,841},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,785},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{1044,841},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,168},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,224},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,280},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,336},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,392},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,448},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,504},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,560},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,616},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,672},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,728},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,784},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,840},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,168},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_up_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{56,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,45}</string>
			</dict>
			<key>images/shak/bet/bet_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,986},{100,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,25}</string>
			</dict>
			<key>images/shak/bet/bet_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,981},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>images/shak/bet/bet_zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,981},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shark_bet.png</string>
			<key>realTextureFileName</key>
			<string>shark_bet.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>