<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/shak/fish/afish_10_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,448},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,216},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,100},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,328},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,560},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,672},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,784},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,896},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,440},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,212},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,100},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_10_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,324},{110,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,112}</string>
			</dict>
			<key>images/shak/fish/afish_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,918},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,918},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,552},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,650},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,748},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,846},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,944},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,552},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,436},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,650},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,748},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,846},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,944},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,534},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,436},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,212},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,100},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,310},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,632},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,730},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,828},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,534},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,408},{98,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,58}</string>
			</dict>
			<key>images/shak/fish/afish_36_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{227,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,100}</string>
			</dict>
			<key>images/shak/fish/afish_36_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,0},{227,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,100}</string>
			</dict>
			<key>images/shak/fish/afish_36_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,0},{227,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,100}</string>
			</dict>
			<key>images/shak/fish/afish_36_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,0},{227,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{227,100}</string>
			</dict>
			<key>images/shak/fish/afish_36_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,0},{227,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,100}</string>
			</dict>
			<key>images/shak/fish/afish_36_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,227},{227,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,100}</string>
			</dict>
			<key>images/shak/fish/afish_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,198},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,100},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,281},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,632},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,715},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,798},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,881},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,938},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,938},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,632},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,715},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,798},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,881},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,938},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,506},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,364},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,447},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,183},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,100},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,266},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,349},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,183},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,100},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,266},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_5_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,589},{83,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,57}</string>
			</dict>
			<key>images/shak/fish/afish_9_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,454},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,216},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,100},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,332},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,686},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,802},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,448},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,216},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,100},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,332},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,564},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,680},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,796},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
			<key>images/shak/fish/afish_9_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,912},{107,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,116}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shark_fish.png</string>
			<key>realTextureFileName</key>
			<string>shark_fish.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>