<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/shak/game_scence/bet_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{268,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,268}</string>
			</dict>
			<key>images/shak/game_scence/gs_animal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,1109},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>images/shak/game_scence/gs_animal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,903},{58,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,74}</string>
			</dict>
			<key>images/shak/game_scence/gs_animal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,961},{62,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,69}</string>
			</dict>
			<key>images/shak/game_scence/gs_animal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,1111},{56,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,67}</string>
			</dict>
			<key>images/shak/game_scence/gs_bg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{798,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,740}</string>
			</dict>
			<key>images/shak/game_scence/gs_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,0},{798,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,740}</string>
			</dict>
			<key>images/shak/game_scence/gs_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,522},{106,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,40}</string>
			</dict>
			<key>images/shak/game_scence/gs_blast.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,846},{234,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,89}</string>
			</dict>
			<key>images/shak/game_scence/gs_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,740},{123,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,110}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,1023},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,958},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,1010},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1046},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,740},{88,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,112}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,828},{88,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,112}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1454,916},{94,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,99}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,958},{94,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,99}</string>
			</dict>
			<key>images/shak/game_scence/gs_btn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,740},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,116}</string>
			</dict>
			<key>images/shak/game_scence/gs_caijin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,554},{484,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,290}</string>
			</dict>
			<key>images/shak/game_scence/gs_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,892},{148,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,102}</string>
			</dict>
			<key>images/shak/game_scence/gs_colorful.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1038},{620,559}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{620,559}</string>
			</dict>
			<key>images/shak/game_scence/gs_dove.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,952},{62,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,75}</string>
			</dict>
			<key>images/shak/game_scence/gs_eagle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1109},{60,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,65}</string>
			</dict>
			<key>images/shak/game_scence/gs_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,870},{82,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,62}</string>
			</dict>
			<key>images/shak/game_scence/gs_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,628},{64,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,83}</string>
			</dict>
			<key>images/shak/game_scence/gs_goldshark.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,863},{163,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,225}</string>
			</dict>
			<key>images/shak/game_scence/gs_handsel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,554},{34,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,67}</string>
			</dict>
			<key>images/shak/game_scence/gs_handsel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,740},{411,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,152}</string>
			</dict>
			<key>images/shak/game_scence/gs_left_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,711},{82,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,64}</string>
			</dict>
			<key>images/shak/game_scence/gs_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,740},{218,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,220}</string>
			</dict>
			<key>images/shak/game_scence/gs_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,269},{253,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,2}</string>
			</dict>
			<key>images/shak/game_scence/gs_luckytime.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,0},{302,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{302,85}</string>
			</dict>
			<key>images/shak/game_scence/gs_mine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,569},{277,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{277,59}</string>
			</dict>
			<key>images/shak/game_scence/gs_mine2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,0},{269,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,32}</string>
			</dict>
			<key>images/shak/game_scence/gs_multiply.png</key>
			<dict>
				<key>frame</key>
				<string>{{1279,1052},{50,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,53}</string>
			</dict>
			<key>images/shak/game_scence/gs_peacock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,1027},{59,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,77}</string>
			</dict>
			<key>images/shak/game_scence/gs_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,1010},{84,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,81}</string>
			</dict>
			<key>images/shak/game_scence/gs_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,302},{267,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,75}</string>
			</dict>
			<key>images/shak/game_scence/gs_selected1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,740},{114,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,109}</string>
			</dict>
			<key>images/shak/game_scence/gs_selected2.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,872},{117,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,122}</string>
			</dict>
			<key>images/shak/game_scence/gs_selected3.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,740},{112,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,132}</string>
			</dict>
			<key>images/shak/game_scence/gs_selected4.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,892},{122,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,137}</string>
			</dict>
			<key>images/shak/game_scence/gs_silver.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1052},{57,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,73}</string>
			</dict>
			<key>images/shak/game_scence/gs_silvershark.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,892},{134,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,198}</string>
			</dict>
			<key>images/shak/game_scence/gs_swallow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,793},{77,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,67}</string>
			</dict>
			<key>images/shak/game_scence/gs_tickets.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,838},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>images/shak/game_scence/gs_tickets2.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,740},{123,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,108}</string>
			</dict>
			<key>images/shak/game_scence/gs_tuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,0},{335,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,554}</string>
			</dict>
			<key>images/shak/game_scence/gs_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1029},{620,559}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{620,559}</string>
			</dict>
			<key>images/shak/game_scence/gs_yuanbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,916},{60,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,37}</string>
			</dict>
			<key>images/shak/game_scence/gs_yuanbao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,854},{147,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shark_gameScene.png</string>
			<key>realTextureFileName</key>
			<string>shark_gameScene.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>