<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/game_scene/bet_animal1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1418},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>game/game_scene/bet_animal2.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,1418},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>game/game_scene/bet_animal3.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1418},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>game/game_scene/bet_animal4.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1418},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>game/game_scene/bet_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,1703},{198,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,41}</string>
			</dict>
			<key>game/game_scene/bet_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,1703},{198,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,41}</string>
			</dict>
			<key>game/game_scene/bet_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1916},{128,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,65}</string>
			</dict>
			<key>game/game_scene/bet_bet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,1195},{69,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,56}</string>
			</dict>
			<key>game/game_scene/bet_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,1906},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>game/game_scene/bet_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1418},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>game/game_scene/bet_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1099},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>game/game_scene/bet_btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,1195},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>game/game_scene/bet_btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1195},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>game/game_scene/bet_btn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1195},{96,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,45}</string>
			</dict>
			<key>game/game_scene/bet_lost.png</key>
			<dict>
				<key>frame</key>
				<string>{{2014,0},{101,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,25}</string>
			</dict>
			<key>game/game_scene/bet_points.png</key>
			<dict>
				<key>frame</key>
				<string>{{2014,101},{101,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,25}</string>
			</dict>
			<key>game/game_scene/bet_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{2014,202},{101,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,25}</string>
			</dict>
			<key>game/game_scene/gs_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1981},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/game_scene/gs_automatic.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1418},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/game_scene/gs_bet_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1906},{152,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,137}</string>
			</dict>
			<key>game/game_scene/gs_bet_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,1883},{152,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,137}</string>
			</dict>
			<key>game/game_scene/gs_bet_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,1721},{152,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,137}</string>
			</dict>
			<key>game/game_scene/gs_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,720}</string>
			</dict>
			<key>game/game_scene/gs_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1418},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>game/game_scene/gs_cancel_automatic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1703},{80,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,212}</string>
			</dict>
			<key>game/game_scene/gs_chat0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1609},{379,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,62}</string>
			</dict>
			<key>game/game_scene/gs_chat1.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,720},{379,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{379,382}</string>
			</dict>
			<key>game/game_scene/gs_chat3.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1609},{379,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,57}</string>
			</dict>
			<key>game/game_scene/gs_chat4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2014,303},{33,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,26}</string>
			</dict>
			<key>game/game_scene/gs_chips_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1771,1981},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>game/game_scene/gs_chips_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1195},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>game/game_scene/gs_chips_10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1262},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>game/game_scene/gs_chips_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1418},{81,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,82}</string>
			</dict>
			<key>game/game_scene/gs_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1345},{55,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,52}</string>
			</dict>
			<key>game/game_scene/gs_game_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,0},{734,602}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{734,602}</string>
			</dict>
			<key>game/game_scene/gs_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1997},{235,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,39}</string>
			</dict>
			<key>game/game_scene/gs_my_bet0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,1676},{207,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,52}</string>
			</dict>
			<key>game/game_scene/gs_my_bet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1524,1703},{207,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,52}</string>
			</dict>
			<key>game/game_scene/gs_my_bet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,602},{917,468}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{917,468}</string>
			</dict>
			<key>game/game_scene/gs_progressive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,1609},{307,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{307,57}</string>
			</dict>
			<key>game/game_scene/gs_quit.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1418},{71,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,83}</string>
			</dict>
			<key>game/game_scene/gs_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1418},{71,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,83}</string>
			</dict>
			<key>game/game_scene/gs_result_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,1858},{146,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,72}</string>
			</dict>
			<key>game/game_scene/gs_result_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1195},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>game/game_scene/gs_result_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,1099},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>game/game_scene/gs_result_zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1289},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>game/game_scene/gs_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1418},{71,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,83}</string>
			</dict>
			<key>game/game_scene/gs_send.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1251},{90,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,38}</string>
			</dict>
			<key>game/game_scene/gs_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,1418},{71,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,83}</string>
			</dict>
			<key>game/game_scene/gs_tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,602},{1074,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1074,140}</string>
			</dict>
			<key>game/game_scene/gs_tip0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1519},{863,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{863,90}</string>
			</dict>
			<key>game/game_scene/gs_tip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1519},{863,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{863,90}</string>
			</dict>
			<key>game/game_scene/gs_tip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1328},{863,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{863,90}</string>
			</dict>
			<key>game/game_scene/gs_tip3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,1310},{411,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{411,152}</string>
			</dict>
			<key>game/game_scene/gs_tip4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,602},{708,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{708,152}</string>
			</dict>
			<key>game/game_scene/gs_tip5.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1666},{240,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,94}</string>
			</dict>
			<key>game/game_scene/gs_tip6.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1666},{240,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,94}</string>
			</dict>
			<key>game/game_scene/gs_tip7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1609},{240,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,94}</string>
			</dict>
			<key>game/game_scene/gs_tip8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,1676},{240,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,94}</string>
			</dict>
			<key>game/game_scene/gs_tuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1676},{335,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,554}</string>
			</dict>
			<key>game/game_scene/gs_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,1916},{261,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,81}</string>
			</dict>
			<key>game/game_scene/gs_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,1609},{686,411}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{686,411}</string>
			</dict>
			<key>game/game_scene/gs_win_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{600,608}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,608}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>slwh_gameScene.png</string>
			<key>realTextureFileName</key>
			<string>slwh_gameScene.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>