<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/game_results/gr_bet_fram0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1919,1585},{150,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,98}</string>
			</dict>
			<key>game/game_results/gr_bet_fram1.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,1870},{150,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,98}</string>
			</dict>
			<key>game/game_results/gr_bet_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1870},{150,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,98}</string>
			</dict>
			<key>game/game_results/gr_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{798,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{798,740}</string>
			</dict>
			<key>game/game_results/gr_cjll.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1735},{149,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,95}</string>
			</dict>
			<key>game/game_results/gr_dmg.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1830},{149,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,95}</string>
			</dict>
			<key>game/game_results/gr_draw_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,0},{730,501}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{730,501}</string>
			</dict>
			<key>game/game_results/gr_draw_results.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,0},{837,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{837,342}</string>
			</dict>
			<key>game/game_results/gr_draw_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,376},{311,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{311,114}</string>
			</dict>
			<key>game/game_results/gr_dsx.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1735},{149,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,95}</string>
			</dict>
			<key>game/game_results/gr_dsy.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1830},{149,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,95}</string>
			</dict>
			<key>game/game_results/gr_he.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1340},{99,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,101}</string>
			</dict>
			<key>game/game_results/gr_lottery_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,0},{376,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,136}</string>
			</dict>
			<key>game/game_results/gr_my_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,740},{660,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{660,342}</string>
			</dict>
			<key>game/game_results/gr_prize_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,687},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1830},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1930},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1830},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1718},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1930},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,740},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,840},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,940},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1040},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1140},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1240},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_109.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1340},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_110.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_111.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1400},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_112.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,1440},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_115.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1500},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,1540},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,1600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1600},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,740},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,840},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,940},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,940},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1040},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1040},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_cp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1140},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_goldcp.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1140},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_goldyb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1240},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_prize_yb.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1240},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>game/game_results/gr_result.png</key>
			<dict>
				<key>frame</key>
				<string>{{2006,0},{798,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,38}</string>
			</dict>
			<key>game/game_results/gr_result2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1919,787},{798,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{798,38}</string>
			</dict>
			<key>game/game_results/gr_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,795},{88,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,45}</string>
			</dict>
			<key>game/game_results/gr_slf.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1830},{149,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,95}</string>
			</dict>
			<key>game/game_results/gr_telephone_fare.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,798},{920,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{920,49}</string>
			</dict>
			<key>game/game_results/gr_text_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,687},{108,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,24}</string>
			</dict>
			<key>game/game_results/gr_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,798},{108,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,24}</string>
			</dict>
			<key>game/game_results/gr_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,883},{59,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,24}</string>
			</dict>
			<key>game/game_results/gr_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,906},{59,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,24}</string>
			</dict>
			<key>game/game_results/gr_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,376},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
			<key>game/game_results/gr_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1340},{99,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,101}</string>
			</dict>
			<key>game/game_results/gr_xycj.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,1735},{149,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,95}</string>
			</dict>
			<key>game/game_results/gr_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,906},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>game/game_results/gr_zhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1439},{99,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,101}</string>
			</dict>
			<key>game/game_results/gs_bet_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1718},{152,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,137}</string>
			</dict>
			<key>game/game_results/gs_bet_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1870},{152,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,137}</string>
			</dict>
			<key>game/game_results/gs_bet_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,1718},{152,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,137}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>slwh_gameResult.png</string>
			<key>realTextureFileName</key>
			<string>slwh_gameResult.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>