<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1218},{302,346}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,75},{302,346}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{302,346}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,75},{302,346}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,914},{302,346}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,75},{302,346}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{302,346}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,75},{302,346}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,610},{302,346}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,75},{302,346}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{302,346}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,75},{302,346}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,306},{302,346}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,75},{302,346}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{302,346}}</string>
                <key>offset</key>
                <string>{28,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,75},{302,346}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,336}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,85},{346,336}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1342},{318,334}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,87},{318,334}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,338},{320,334}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,87},{320,334}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{320,334}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,87},{320,334}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1008},{320,332}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,89},{320,332}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>boss_4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,674},{320,332}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,89},{320,332}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:569019c304e8dafce873f7a93ada2531:1/1$</string>
            <key>textureFileName</key>
            <string>boss_4.png</string>
        </dict>
    </dict>
</plist>
