<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>slwh/Model/AniDown</string>
	<string>slwh/Model/BreatheLight</string>
	<string>slwh/Model/D4X</string>
	<string>slwh/Model/DMG</string>
	<string>slwh/Model/DownTo</string>
	<string>slwh/Model/Light</string>
	<string>slwh/Model/LightAll</string>
	<string>slwh/Model/Point</string>
	<string>slwh/Model/S</string>
	<string>slwh/Model/Sphere</string>
	<string>slwh/Model/Stage</string>
	<string>slwh/Model/Scene</string>
	
	
	<string>images/common/animal/houzi</string>
	<string>images/common/animal/shizi</string>
	<string>images/common/animal/tuzi</string>
	<string>images/common/animal/xiongmao</string>


</array>
</plist>
