<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/freegold/freegold_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,778},{181,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,158}</string>
			</dict>
			<key>images/hall/freegold/freegold_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,764},{181,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,158}</string>
			</dict>
			<key>images/hall/freegold/freegold_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1107,764},{181,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,158}</string>
			</dict>
			<key>images/hall/freegold/freegold_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,593},{181,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,158}</string>
			</dict>
			<key>images/hall/freegold/freegold_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,0},{181,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,158}</string>
			</dict>
			<key>images/hall/freegold/freegold_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,0},{181,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,158}</string>
			</dict>
			<key>images/hall/freegold/freegold_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,959},{111,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,51}</string>
			</dict>
			<key>images/hall/freegold/freegold_btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,608},{177,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,60}</string>
			</dict>
			<key>images/hall/freegold/freegold_draw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1895,0},{136,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,166}</string>
			</dict>
			<key>images/hall/freegold/freegold_draw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1714,158},{136,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,166}</string>
			</dict>
			<key>images/hall/freegold/freegold_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,687},{302,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,43}</string>
			</dict>
			<key>images/hall/freegold/freegold_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,0},{593,455}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{593,455}</string>
			</dict>
			<key>images/hall/freegold/freegold_spin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,0},{546,608}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{546,608}</string>
			</dict>
			<key>images/hall/freegold/freegold_spin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,593},{416,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{416,416}</string>
			</dict>
			<key>images/hall/freegold/freegold_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,668},{191,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,48}</string>
			</dict>
			<key>images/hall/freegold/freegold_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,716},{191,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,48}</string>
			</dict>
			<key>images/hall/freegold/freegold_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,730},{222,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,48}</string>
			</dict>
			<key>images/hall/freegold/freegold_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,608},{434,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,79}</string>
			</dict>
			<key>images/hall/freegold/freegold_title_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,730},{240,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,48}</string>
			</dict>
			<key>images/hall/freegold/freegold_weixin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{793,464}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{793,464}</string>
			</dict>
			<key>images/hall/freegold/freegold_words.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,793},{791,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{791,216}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_freegold.png</string>
			<key>realTextureFileName</key>
			<string>hall_freegold.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>