<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/recharge/recharge_168.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,296},{198,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,157}</string>
			</dict>
			<key>images/hall/recharge/recharge_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,0},{198,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,157}</string>
			</dict>
			<key>images/hall/recharge/recharge_328.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,157},{198,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,157}</string>
			</dict>
			<key>images/hall/recharge/recharge_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,314},{198,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,157}</string>
			</dict>
			<key>images/hall/recharge/recharge_648.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,471},{198,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,157}</string>
			</dict>
			<key>images/hall/recharge/recharge_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,745},{198,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,157}</string>
			</dict>
			<key>images/hall/recharge/recharge_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,628},{134,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,62}</string>
			</dict>
			<key>images/hall/recharge/recharge_congratulation.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,909},{326,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,45}</string>
			</dict>
			<key>images/hall/recharge/recharge_first_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,976},{186,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,25}</string>
			</dict>
			<key>images/hall/recharge/recharge_first1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,136},{126,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first101.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,0},{126,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,999},{136,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,0},{136,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first104.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,976},{142,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first105.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,997},{142,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first106.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,976},{146,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1041,0},{136,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,136},{136,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first4.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,1001},{142,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first5.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,997},{146,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_first6.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,1001},{146,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,21}</string>
			</dict>
			<key>images/hall/recharge/recharge_give1.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,690},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>images/hall/recharge/recharge_give100.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,494},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>images/hall/recharge/recharge_give2.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,555},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>images/hall/recharge/recharge_give3.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,616},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>images/hall/recharge/recharge_give4.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,494},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>images/hall/recharge/recharge_give5.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,555},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>images/hall/recharge/recharge_give6.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,677},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>images/hall/recharge/recharge_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,976},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>images/hall/recharge/recharge_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,749},{793,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{793,80}</string>
			</dict>
			<key>images/hall/recharge/recharge_level_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,909},{308,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,20}</string>
			</dict>
			<key>images/hall/recharge/recharge_level_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,929},{308,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,20}</string>
			</dict>
			<key>images/hall/recharge/recharge_level10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,829},{793,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{793,80}</string>
			</dict>
			<key>images/hall/recharge/recharge_package.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{749,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{749,519}</string>
			</dict>
			<key>images/hall/recharge/recharge_quick.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,531},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,62}</string>
			</dict>
			<key>images/hall/recharge/recharge_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,954},{574,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{574,22}</string>
			</dict>
			<key>images/hall/recharge/recharge_title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{434,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,102}</string>
			</dict>
			<key>images/hall/recharge/recharge_title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1185,0},{434,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{434,128}</string>
			</dict>
			<key>images/hall/recharge/recharge_view.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,690},{88,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,57}</string>
			</dict>
			<key>images/hall/recharge/recharge_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,0},{177,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,296}</string>
			</dict>
			<key>images/hall/recharge/recharge_words1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,949},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,0},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1118,0},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words3.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,0},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words4.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,177},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words5.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,0},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words6.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,177},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words7.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,354},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words8.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,628},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
			<key>images/hall/recharge/recharge_words9.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,678},{177,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_recharge.png</string>
			<key>realTextureFileName</key>
			<string>hall_recharge.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>