<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/game_hall/gh_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,84},{72,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,82}</string>
			</dict>
			<key>images/hall/game_hall/gh_bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,72},{67,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,70}</string>
			</dict>
			<key>images/hall/game_hall/gh_benefits.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,0},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>images/hall/game_hall/gh_bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,86},{54,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>images/hall/game_hall/gh_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,86},{59,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,55}</string>
			</dict>
			<key>images/hall/game_hall/gh_comment.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,111},{92,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,82}</string>
			</dict>
			<key>images/hall/game_hall/gh_countdown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,84},{72,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,82}</string>
			</dict>
			<key>images/hall/game_hall/gh_countdown2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,142},{86,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,91}</string>
			</dict>
			<key>images/hall/game_hall/gh_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,0},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>images/hall/game_hall/gh_expedition.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,0},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>images/hall/game_hall/gh_fishing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,226},{335,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,318}</string>
			</dict>
			<key>images/hall/game_hall/gh_forest_dance.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,336},{335,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{335,318}</string>
			</dict>
			<key>images/hall/game_hall/gh_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,72},{209,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,39}</string>
			</dict>
			<key>images/hall/game_hall/gh_ingot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,190},{185,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,38}</string>
			</dict>
			<key>images/hall/game_hall/gh_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,86},{41,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,43}</string>
			</dict>
			<key>images/hall/game_hall/gh_light_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{391,611}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,611}</string>
			</dict>
			<key>images/hall/game_hall/gh_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,611},{391,611}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{391,611}</string>
			</dict>
			<key>images/hall/game_hall/gh_light_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,0},{231,635}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,635}</string>
			</dict>
			<key>images/hall/game_hall/gh_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,156},{76,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,70}</string>
			</dict>
			<key>images/hall/game_hall/gh_package.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,142},{92,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,82}</string>
			</dict>
			<key>images/hall/game_hall/gh_personal_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,231},{1050,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1050,105}</string>
			</dict>
			<key>images/hall/game_hall/gh_promote.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,72},{66,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,147}</string>
			</dict>
			<key>images/hall/game_hall/gh_ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{1760,0},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>images/hall/game_hall/gh_recharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,0},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>images/hall/game_hall/gh_recharge_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,0},{138,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,150}</string>
			</dict>
			<key>images/hall/game_hall/gh_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,111},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>images/hall/game_hall/gh_settings.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,86},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>images/hall/game_hall/gh_shading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,150},{421,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{421,40}</string>
			</dict>
			<key>images/hall/game_hall/gh_tree.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,0},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>images/hall/game_hall/gh_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1002},{70,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,22}</string>
			</dict>
			<key>images/hall/game_hall/gh_water_margin.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,336},{335,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,318}</string>
			</dict>
			<key>images/hall/game_hall/img_select_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,0},{344,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_game_hall.png</string>
			<key>realTextureFileName</key>
			<string>hall_game_hall.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>