<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/personal/personal_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,820},{144,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,57}</string>
			</dict>
			<key>images/hall/personal/personal_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,978},{83,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,45}</string>
			</dict>
			<key>images/hall/personal/personal_binding.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,791},{108,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,28}</string>
			</dict>
			<key>images/hall/personal/personal_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,978},{83,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,45}</string>
			</dict>
			<key>images/hall/personal/personal_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,906},{151,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,58}</string>
			</dict>
			<key>images/hall/personal/personal_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{151,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,58}</string>
			</dict>
			<key>images/hall/personal/personal_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{757,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{757,317}</string>
			</dict>
			<key>images/hall/personal/personal_give1.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,978},{77,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,35}</string>
			</dict>
			<key>images/hall/personal/personal_give2.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,791},{84,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,27}</string>
			</dict>
			<key>images/hall/personal/personal_input2.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,0},{247,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,38}</string>
			</dict>
			<key>images/hall/personal/personal_input3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{204,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,42}</string>
			</dict>
			<key>images/hall/personal/personal_minus.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,906},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>images/hall/personal/personal_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,946},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>images/hall/personal/personal_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,317},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>
			<key>images/hall/personal/personal_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,791},{105,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,176}</string>
			</dict>
			<key>images/hall/personal/personal_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,906},{105,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,176}</string>
			</dict>
			<key>images/hall/personal/personal_ticket.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,791},{187,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,150}</string>
			</dict>
			<key>images/hall/personal/personal_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{676,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{676,86}</string>
			</dict>
			<key>images/hall/personal/personal_tips0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,791},{284,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,24}</string>
			</dict>
			<key>images/hall/personal/personal_tips1.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,791},{284,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,24}</string>
			</dict>
			<key>images/hall/personal/personal_title_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,247},{191,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,48}</string>
			</dict>
			<key>images/hall/personal/personal_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,438},{191,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,48}</string>
			</dict>
			<key>images/hall/personal/personal_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,629},{191,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,48}</string>
			</dict>
			<key>images/hall/personal/personal_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,967},{191,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,48}</string>
			</dict>
			<key>images/hall/personal/personal_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,0},{791,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{791,208}</string>
			</dict>
			<key>images/hall/personal/personal_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{156,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_personal.png</string>
			<key>realTextureFileName</key>
			<string>hall_personal.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>