<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/register/register_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,882},{70,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,85}</string>
			</dict>
			<key>images/hall/register/register_btn0.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,433},{98,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,42}</string>
			</dict>
			<key>images/hall/register/register_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,529},{196,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,100}</string>
			</dict>
			<key>images/hall/register/register_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,692},{148,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,41}</string>
			</dict>
			<key>images/hall/register/register_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,692},{148,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,41}</string>
			</dict>
			<key>images/hall/register/register_frame0.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,959},{309,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,48}</string>
			</dict>
			<key>images/hall/register/register_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,529},{287,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{287,47}</string>
			</dict>
			<key>images/hall/register/register_lion.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,801},{222,423}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,423}</string>
			</dict>
			<key>images/hall/register/register_login.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,607},{92,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,85}</string>
			</dict>
			<key>images/hall/register/register_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1241,361},{440,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{440,239}</string>
			</dict>
			<key>images/hall/register/register_panel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,529},{439,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,476}</string>
			</dict>
			<key>images/hall/register/register_panel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{529,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{529,416}</string>
			</dict>
			<key>images/hall/register/register_rabbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,0},{267,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,433}</string>
			</dict>
			<key>images/hall/register/register_service.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,433},{70,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,85}</string>
			</dict>
			<key>images/hall/register/register_service2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{527,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{527,350}</string>
			</dict>
			<key>images/hall/register/register_switch0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,0},{361,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,305}</string>
			</dict>
			<key>images/hall/register/register_switch2.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,576},{327,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,38}</string>
			</dict>
			<key>images/hall/register/register_text0.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,725},{107,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,157}</string>
			</dict>
			<key>images/hall/register/register_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1378,0},{473,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{473,173}</string>
			</dict>
			<key>images/hall/register/register_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,959},{493,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{493,58}</string>
			</dict>
			<key>images/hall/register/register_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,576},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>images/hall/register/register_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,576},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>images/hall/register/register_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,725},{115,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,31}</string>
			</dict>
			<key>images/hall/register/register_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,903},{178,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,47}</string>
			</dict>
			<key>images/hall/register/register_update.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{609,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{609,390}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_register.png</string>
			<key>realTextureFileName</key>
			<string>hall_register.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>