<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/ranking_list/rl_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1074,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1074,740}</string>
			</dict>
			<key>images/hall/ranking_list/rl_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,0},{1043,611}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1043,611}</string>
			</dict>
			<key>images/hall/ranking_list/rl_explain.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,0},{794,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{794,158}</string>
			</dict>
			<key>images/hall/ranking_list/rl_gamer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,1578},{300,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,110}</string>
			</dict>
			<key>images/hall/ranking_list/rl_header_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1843,0},{789,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{789,42}</string>
			</dict>
			<key>images/hall/ranking_list/rl_header_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1843,789},{789,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{789,42}</string>
			</dict>
			<key>images/hall/ranking_list/rl_header_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,794},{789,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{789,42}</string>
			</dict>
			<key>images/hall/ranking_list/rl_header_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,794},{789,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{789,42}</string>
			</dict>
			<key>images/hall/ranking_list/rl_header_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1769,794},{789,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{789,42}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,1323},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,1814},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,533},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,1021},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{1961,1244},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1878},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1954},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1878},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,1954},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1878},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1954},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,1878},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,1878},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,1954},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,1954},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_left_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,1583},{223,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,76}</string>
			</dict>
			<key>images/hall/ranking_list/rl_likes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,412},{96,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,36}</string>
			</dict>
			<key>images/hall/ranking_list/rl_mine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,0},{787,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{787,42}</string>
			</dict>
			<key>images/hall/ranking_list/rl_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1583},{800,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,440}</string>
			</dict>
			<key>images/hall/ranking_list/rl_score_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,0},{206,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,45}</string>
			</dict>
			<key>images/hall/ranking_list/rl_score_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,206},{206,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,45}</string>
			</dict>
			<key>images/hall/ranking_list/rl_score_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,508},{206,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,45}</string>
			</dict>
			<key>images/hall/ranking_list/rl_score_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1997,1667},{206,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,45}</string>
			</dict>
			<key>images/hall/ranking_list/rl_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,1467},{200,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,54}</string>
			</dict>
			<key>images/hall/ranking_list/rl_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,1806},{200,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,54}</string>
			</dict>
			<key>images/hall/ranking_list/rl_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,1583},{200,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,54}</string>
			</dict>
			<key>images/hall/ranking_list/rl_title_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,1583},{200,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,54}</string>
			</dict>
			<key>images/hall/ranking_list/rl_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,787},{268,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,71}</string>
			</dict>
			<key>images/hall/ranking_list/rl_up_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,1055},{268,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,71}</string>
			</dict>
			<key>images/hall/ranking_list/rl_up_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,268},{265,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,71}</string>
			</dict>
			<key>images/hall/ranking_list/rl_up_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{1921,1546},{268,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,71}</string>
			</dict>
			<key>images/hall/ranking_list/rl_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1956,756},{265,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,71}</string>
			</dict>
			<key>images/hall/ranking_list/rl_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,0},{268,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{268,71}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_ranking_list.png</string>
			<key>realTextureFileName</key>
			<string>hall_ranking_list.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>