<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/chatting/chatting_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{486,740}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{486,740}</string>
			</dict>
			<key>images/hall/chatting/chatting_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{696,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{696,208}</string>
			</dict>
			<key>images/hall/chatting/chatting_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,893},{111,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,47}</string>
			</dict>
			<key>images/hall/chatting/chatting_current0.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,174},{141,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,53}</string>
			</dict>
			<key>images/hall/chatting/chatting_current1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,315},{141,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,53}</string>
			</dict>
			<key>images/hall/chatting/chatting_dialog1.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,948},{363,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,34}</string>
			</dict>
			<key>images/hall/chatting/chatting_dialog2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1012},{363,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,4}</string>
			</dict>
			<key>images/hall/chatting/chatting_dialog3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1002},{363,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,10}</string>
			</dict>
			<key>images/hall/chatting/chatting_dialog4.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,0},{365,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{365,102}</string>
			</dict>
			<key>images/hall/chatting/chatting_give.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,971},{109,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,53}</string>
			</dict>
			<key>images/hall/chatting/chatting_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,982},{240,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,41}</string>
			</dict>
			<key>images/hall/chatting/chatting_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,893},{109,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,53}</string>
			</dict>
			<key>images/hall/chatting/chatting_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,365},{111,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,47}</string>
			</dict>
			<key>images/hall/chatting/chatting_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,658},{136,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,182}</string>
			</dict>
			<key>images/hall/chatting/chatting_red2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,456},{156,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,202}</string>
			</dict>
			<key>images/hall/chatting/chatting_score1.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,946},{84,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,25}</string>
			</dict>
			<key>images/hall/chatting/chatting_score2.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,946},{93,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,25}</string>
			</dict>
			<key>images/hall/chatting/chatting_score3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,982},{97,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,25}</string>
			</dict>
			<key>images/hall/chatting/chatting_score4.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,982},{105,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,25}</string>
			</dict>
			<key>images/hall/chatting/chatting_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,412},{91,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,44}</string>
			</dict>
			<key>images/hall/chatting/chatting_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,948},{423,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{423,54}</string>
			</dict>
			<key>images/hall/chatting/chatting_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,0},{174,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,46}</string>
			</dict>
			<key>images/hall/chatting/chatting_world0.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,840},{141,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,53}</string>
			</dict>
			<key>images/hall/chatting/chatting_world1.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,893},{141,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,53}</string>
			</dict>
			<key>images/hall/chatting/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1016},{2,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_chatting.png</string>
			<key>realTextureFileName</key>
			<string>hall_chatting.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>