<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/exchange/exchange_apply.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,789},{142,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,56}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,567},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,406},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,567},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,728},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,406},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,567},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,728},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,406},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_goods_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,567},{161,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,157}</string>
			</dict>
			<key>images/hall/exchange/exchange_input_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,931},{244,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,47}</string>
			</dict>
			<key>images/hall/exchange/exchange_input_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,0},{455,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{455,47}</string>
			</dict>
			<key>images/hall/exchange/exchange_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,896},{789,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{789,2}</string>
			</dict>
			<key>images/hall/exchange/exchange_subtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,0},{789,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{789,42}</string>
			</dict>
			<key>images/hall/exchange/exchange_success.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,455},{313,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,44}</string>
			</dict>
			<key>images/hall/exchange/exchange_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,791},{105,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,290}</string>
			</dict>
			<key>images/hall/exchange/exchange_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,791},{105,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,210}</string>
			</dict>
			<key>images/hall/exchange/exchange_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,0},{791,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{791,42}</string>
			</dict>
			<key>images/hall/exchange/exchange_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,0},{406,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,101}</string>
			</dict>
			<key>images/hall/exchange/exchange_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{791,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{791,60}</string>
			</dict>
			<key>images/hall/exchange/exchange_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{118,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,46}</string>
			</dict>
			<key>images/hall/exchange/exchange_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,978},{118,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_exchange.png</string>
			<key>realTextureFileName</key>
			<string>hall_exchange.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>