<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/hall/promote/promote_bar0.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,256},{430,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{430,17}</string>
			</dict>
			<key>images/hall/promote/promote_bar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,565},{430,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{430,17}</string>
			</dict>
			<key>images/hall/promote/promote_box_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,918},{103,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,101}</string>
			</dict>
			<key>images/hall/promote/promote_box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,906},{103,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,101}</string>
			</dict>
			<key>images/hall/promote/promote_box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,906},{103,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,101}</string>
			</dict>
			<key>images/hall/promote/promote_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,0},{153,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,50}</string>
			</dict>
			<key>images/hall/promote/promote_contents.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,0},{568,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,48}</string>
			</dict>
			<key>images/hall/promote/promote_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,750},{156,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,68}</string>
			</dict>
			<key>images/hall/promote/promote_input.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,0},{357,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{357,44}</string>
			</dict>
			<key>images/hall/promote/promote_left_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,357},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>images/hall/promote/promote_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,544},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>images/hall/promote/promote_left_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,563},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>images/hall/promote/promote_left_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,563},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>images/hall/promote/promote_left_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,563},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>images/hall/promote/promote_left_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,731},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>images/hall/promote/promote_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,636},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>images/hall/promote/promote_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,709},{187,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,73}</string>
			</dict>
			<key>images/hall/promote/promote_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{569,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,430}</string>
			</dict>
			<key>images/hall/promote/promote_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,430},{530,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{530,301}</string>
			</dict>
			<key>images/hall/promote/promote_share_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,750},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>images/hall/promote/promote_share_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,818},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>images/hall/promote/promote_share_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,886},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>images/hall/promote/promote_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,0},{565,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,4}</string>
			</dict>
			<key>images/hall/promote/promote_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,0},{563,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{563,296}</string>
			</dict>
			<key>images/hall/promote/promote_text2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,782},{563,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{563,204}</string>
			</dict>
			<key>images/hall/promote/promote_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,153},{103,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,51}</string>
			</dict>
			<key>images/hall/promote/promote_view.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,568},{117,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_promote.png</string>
			<key>realTextureFileName</key>
			<string>hall_promote.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>