<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>draw_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,751},{266,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,40}}</string>
                <key>sourceSize</key>
                <string>{266,40}</string>
            </dict>
            <key>draw_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,792},{256,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{256,30}}</string>
                <key>sourceSize</key>
                <string>{266,40}</string>
            </dict>
            <key>draw_card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,905},{110,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,215}}</string>
                <key>sourceSize</key>
                <string>{110,215}</string>
            </dict>
            <key>draw_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,866},{110,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,215}}</string>
                <key>sourceSize</key>
                <string>{110,215}</string>
            </dict>
            <key>draw_card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{110,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,215}}</string>
                <key>sourceSize</key>
                <string>{110,215}</string>
            </dict>
            <key>draw_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,912},{158,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,63}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>draw_click2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,879},{158,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,63}}</string>
                <key>sourceSize</key>
                <string>{160,65}</string>
            </dict>
            <key>draw_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,978},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>draw_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,846},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>draw_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1050},{124,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>draw_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,978},{122,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>draw_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,866},{124,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>draw_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,1124},{122,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{122,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>draw_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,793},{124,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,30}}</string>
                <key>sourceSize</key>
                <string>{124,30}</string>
            </dict>
            <key>draw_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,751},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>draw_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1184},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1124},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,919},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1064},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1004},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,944},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,819},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,759},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,699},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,639},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,579},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>draw_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,793},{110,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,215}}</string>
                <key>sourceSize</key>
                <string>{110,215}</string>
            </dict>
            <key>draw_little.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{474,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,285}}</string>
                <key>sourceSize</key>
                <string>{474,285}</string>
            </dict>
            <key>draw_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1072},{128,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,60}</string>
            </dict>
            <key>draw_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1015,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1015,575}}</string>
                <key>sourceSize</key>
                <string>{1015,575}</string>
            </dict>
            <key>draw_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,716},{323,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,33}}</string>
                <key>sourceSize</key>
                <string>{323,33}</string>
            </dict>
            <key>draw_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,579},{385,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,135}}</string>
                <key>sourceSize</key>
                <string>{385,135}</string>
            </dict>
            <key>draw_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,716},{128,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,60}}</string>
                <key>sourceSize</key>
                <string>{128,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>draw.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:518d27b111effdf8ba36441a9626e806:1/1$</string>
            <key>textureFileName</key>
            <string>draw.png</string>
        </dict>
    </dict>
</plist>
