<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,112}}</string>
                <key>offset</key>
                <string>{1,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,90},{384,112}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{364,110}}</string>
                <key>offset</key>
                <string>{-6,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,94},{364,110}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{380,134}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,81},{380,134}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{350,254}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,99},{350,254}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{346,256}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,99},{346,256}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,226},{240,260}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,100},{240,260}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{252,222}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,141},{252,222}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,740},{254,230}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,135},{254,230}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,484},{254,240}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,131},{254,240}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,740},{248,236}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,133},{248,236}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,468},{238,226}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,138},{238,226}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,138},{362,328}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{362,328}}</string>
                <key>sourceSize</key>
                <string>{456,456}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_dragon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65408716be20fcdead8ef9572095c806:1/1$</string>
            <key>textureFileName</key>
            <string>red_dragon.png</string>
        </dict>
    </dict>
</plist>
