<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GUNDONG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{205,1415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,1415}}</string>
                <key>sourceSize</key>
                <string>{205,1415}</string>
            </dict>
            <key>GameNoticeView.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,495},{1080,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1080,49}}</string>
                <key>sourceSize</key>
                <string>{1080,51}</string>
            </dict>
            <key>TAISAI_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,495},{994,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{994,119}}</string>
                <key>sourceSize</key>
                <string>{994,119}</string>
            </dict>
            <key>Tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1058},{837,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,91}}</string>
                <key>sourceSize</key>
                <string>{837,91}</string>
            </dict>
            <key>addbei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,2},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>addbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,126},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>addbei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,306},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>addbei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,431},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>bibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1621},{218,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,86}}</string>
                <key>sourceSize</key>
                <string>{218,86}</string>
            </dict>
            <key>bt_bibeiscore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{123,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{123,122}}</string>
                <key>sourceSize</key>
                <string>{133,128}</string>
            </dict>
            <key>bt_bibeiscore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,306},{123,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{123,122}}</string>
                <key>sourceSize</key>
                <string>{133,128}</string>
            </dict>
            <key>bt_bibeiscore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1058},{123,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{123,122}}</string>
                <key>sourceSize</key>
                <string>{133,128}</string>
            </dict>
            <key>bt_big0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,154},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>bt_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>bt_big2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1530},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>bt_mlbibei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,431},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>bt_mlbibei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,246},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>bt_mlbibei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,186},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>bt_mlscore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,126},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>bt_mlscore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,1318},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>bt_mlscore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1984},{120,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,58}}</string>
                <key>sourceSize</key>
                <string>{120,58}</string>
            </dict>
            <key>bt_small0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1378},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>bt_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1536},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>bt_small2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1384},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>bt_tie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1318},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>bt_tie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1956},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>bt_tie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1577},{150,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,64}}</string>
                <key>sourceSize</key>
                <string>{152,66}</string>
            </dict>
            <key>curbei0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,553},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>curbei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1722},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>curbei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1621},{99,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,50}}</string>
                <key>sourceSize</key>
                <string>{99,50}</string>
            </dict>
            <key>defen.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1621},{218,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,86}}</string>
                <key>sourceSize</key>
                <string>{218,86}</string>
            </dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,605},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,582},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,483},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,532},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,483},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>light6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>light7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,2},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>light8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1269},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>light9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1269},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>line0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,495},{888,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{888,26}}</string>
                <key>sourceSize</key>
                <string>{888,28}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,495},{888,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{888,27}}</string>
                <key>sourceSize</key>
                <string>{888,29}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,495},{888,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,27}}</string>
                <key>sourceSize</key>
                <string>{888,27}</string>
            </dict>
            <key>line3.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,495},{888,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,375}}</string>
                <key>sourceSize</key>
                <string>{888,375}</string>
            </dict>
            <key>line4.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1419},{888,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,375}}</string>
                <key>sourceSize</key>
                <string>{888,375}</string>
            </dict>
            <key>line5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{888,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,116}}</string>
                <key>sourceSize</key>
                <string>{888,116}</string>
            </dict>
            <key>line6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1058},{888,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,116}}</string>
                <key>sourceSize</key>
                <string>{888,116}</string>
            </dict>
            <key>line7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{888,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,194}}</string>
                <key>sourceSize</key>
                <string>{888,194}</string>
            </dict>
            <key>line8.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1796},{888,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,194}}</string>
                <key>sourceSize</key>
                <string>{888,194}</string>
            </dict>
            <key>loading_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1183},{84,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>long2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,892},{607,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,164}}</string>
                <key>sourceSize</key>
                <string>{607,164}</string>
            </dict>
            <key>ml_type0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1218},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>ml_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1058},{148,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{148,118}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>ml_type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1178},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>ml_type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,1058},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>ml_type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1948},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>ml_type5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1940},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>ml_type6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,1940},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>ml_type7.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1935},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>ml_type8.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1824},{158,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,98}}</string>
                <key>sourceSize</key>
                <string>{158,98}</string>
            </dict>
            <key>qizhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1125,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1125,491}}</string>
                <key>sourceSize</key>
                <string>{1125,491}</string>
            </dict>
            <key>qizhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{1124,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1124,490}}</string>
                <key>sourceSize</key>
                <string>{1124,490}</string>
            </dict>
            <key>quan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,1796},{189,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,142}}</string>
                <key>sourceSize</key>
                <string>{189,142}</string>
            </dict>
            <key>quan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1841},{189,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,142}}</string>
                <key>sourceSize</key>
                <string>{189,142}</string>
            </dict>
            <key>quan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1744},{189,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,142}}</string>
                <key>sourceSize</key>
                <string>{189,142}</string>
            </dict>
            <key>quan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1765},{189,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,142}}</string>
                <key>sourceSize</key>
                <string>{189,142}</string>
            </dict>
            <key>quan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1621},{189,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,142}}</string>
                <key>sourceSize</key>
                <string>{189,142}</string>
            </dict>
            <key>record_big_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,358},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>record_big_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,231},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>record_mid_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,178},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>record_mid_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,54},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>record_small_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,54},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>record_small_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,1338},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>sai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,1897},{44,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>sai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,1897},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>sai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1909},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>sai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1861},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>sai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1813},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>sai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1765},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1621},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>yuanbao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1491},{251,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,101}}</string>
                <key>sourceSize</key>
                <string>{251,101}</string>
            </dict>
            <key>yuanbao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1688},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>view.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62cdce3961acb6f0472f234fa48bb131:1/1$</string>
            <key>textureFileName</key>
            <string>view.png</string>
        </dict>
    </dict>
</plist>
