<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>btsounds</key>
	<string>sound_android/btsounds.ogg</string>
	<key>shuihuzhuan</key>
	<string>sound_android/shuihuzhuan.ogg</string>
	<key>winsound</key>
	<string>sound_android/winsound.ogg</string>
	<key>ying</key>
	<string>sound_android/ying.ogg</string>
	<key>shu</key>
	<string>sound_android/shu.ogg</string>
	<key>defen</key>
	<string>sound_android/defen.ogg</string>
	<key>shangfen</key>
	<string>sound_android/shangfen.ogg</string>
	<key>gundong_1</key>
	<string>sound_android/gundong_1.ogg</string>
	<key>gundong</key>
	<string>sound_android/gundong.ogg</string>
	<key>daoguang</key>
	<string>sound_android/daoguang.ogg</string>
	<key>titianxingdao</key>
	<string>sound_android/titianxingdao.ogg</string>
	<key>zhongyitang</key>
	<string>sound_android/zhongyitang.ogg</string>
	<key>linchong</key>
	<string>sound_android/linchong.ogg</string>
	<key>luzhisheng</key>
	<string>sound_android/luzhisheng.ogg</string>
	<key>songjiang</key>
	<string>sound_android/songjiang.ogg</string>
	<key>2dian</key>
	<string>sound_android/2dian.ogg</string>
	<key>3dian</key>
	<string>sound_android/3dian.ogg</string>
	<key>4dian</key>
	<string>sound_android/4dian.ogg</string>
	<key>5dian</key>
	<string>sound_android/5dian.ogg</string>
	<key>6dian</key>
	<string>sound_android/6dian.ogg</string>
	<key>7dian</key>
	<string>sound_android/7dian.ogg</string>
	<key>8dian</key>
	<string>sound_android/8dian.ogg</string>
	<key>9dian</key>
	<string>sound_android/9dian.ogg</string>
	<key>10dian</key>
	<string>sound_android/10dian.ogg</string>
	<key>11dian</key>
	<string>sound_android/11dian.ogg</string>
	<key>12dian</key>
	<string>sound_android/12dian.ogg</string>
	<key>malistart1</key>
	<string>sound_android/mali_start_1.ogg</string>
	<key>ding</key>
	<string>sound_android/ding.ogg</string>
	<key>futou</key>
	<string>sound_android/futou.ogg</string>
	<key>dadao</key>
	<string>sound_android/dadao.ogg</string>
	<key>shuangqiang</key>
	<string>sound_android/shuangqiang.ogg</string>
	<key>golddown</key>
	<string>sound_android/golddown.ogg</string>
</dict>
</plist>
