<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>btsounds</key>
	<string>sounds/btsounds.mp3</string>
	<key>shuihuzhuan</key>
	<string>sounds/shuihuzhuan.mp3</string>
	<key>winsound</key>
	<string>sounds/winsound.mp3</string>
	<key>ying</key>
	<string>sounds/ying.mp3</string>
	<key>shu</key>
	<string>sounds/shu.mp3</string>
	<key>defen</key>
	<string>sounds/defen.mp3</string>
	<key>shangfen</key>
	<string>sounds/shangfen.mp3</string>
	<key>gundong_1</key>
	<string>sounds/gundong_1.mp3</string>
	<key>gundong</key>
	<string>sounds/gundong.mp3</string>
	<key>daoguang</key>
	<string>sounds/daoguang.mp3</string>
	<key>titianxingdao</key>
	<string>sounds/titianxingdao.mp3</string>
	<key>zhongyitang</key>
	<string>sounds/zhongyitang.mp3</string>
	<key>linchong</key>
	<string>sounds/linchong.mp3</string>
	<key>luzhisheng</key>
	<string>sounds/luzhisheng.mp3</string>
	<key>songjiang</key>
	<string>sounds/songjiang.mp3</string>
	<key>2dian</key>
	<string>sounds/2dian.mp3</string>
	<key>3dian</key>
	<string>sounds/3dian.mp3</string>
	<key>4dian</key>
	<string>sounds/4dian.mp3</string>
	<key>5dian</key>
	<string>sounds/5dian.mp3</string>
	<key>6dian</key>
	<string>sounds/6dian.mp3</string>
	<key>7dian</key>
	<string>sounds/7dian.mp3</string>
	<key>8dian</key>
	<string>sounds/8dian.mp3</string>
	<key>9dian</key>
	<string>sounds/9dian.mp3</string>
	<key>10dian</key>
	<string>sounds/10dian.mp3</string>
	<key>11dian</key>
	<string>sounds/11dian.mp3</string>
	<key>12dian</key>
	<string>sounds/12dian.mp3</string>
	<key>malistart1</key>
	<string>sounds/mali_start_1.mp3</string>
	<key>ding</key>
	<string>sounds/ding.mp3</string>
	<key>futou</key>
	<string>sounds/futou.mp3</string>
	<key>dadao</key>
	<string>sounds/dadao.mp3</string>
	<key>shuangqiang</key>
	<string>sounds/shuangqiang.mp3</string>
	<key>golddown</key>
	<string>sounds/golddown.mp3</string>
</dict>
</plist>
