<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{141,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,197}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1595},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1793},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1656},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1526},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1458},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1351},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1351},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1519},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1382},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1333},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1321},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1214},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>block_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{135,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>expedition_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,194},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>expedition_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,293},{145,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,80}}</string>
                <key>sourceSize</key>
                <string>{145,80}</string>
            </dict>
            <key>expedition_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,112},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>expedition_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,276},{144,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>expedition_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{212,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,80}}</string>
                <key>sourceSize</key>
                <string>{212,80}</string>
            </dict>
            <key>expedition_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,145},{146,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,80}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
            <key>expedition_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1382},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>expedition_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,108}}</string>
                <key>sourceSize</key>
                <string>{540,108}</string>
            </dict>
            <key>rh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1077},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1245},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1138},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1047},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,940},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1108},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,971},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,943},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,834},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,910},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,803},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>rh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,773},{135,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1184},{135,191}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,419},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,358},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,249},{135,195}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1077},{135,191}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,191}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,282},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,221},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,112},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,145},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>spade_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,84},{135,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{135,195}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,748},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,695},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,556},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,664},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,634},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,553},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,525},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,495},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,386},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
            <key>titoni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,358},{137,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,193}}</string>
                <key>sourceSize</key>
                <string>{141,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a35e164f8ed890c933c61054c059971a:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
