<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_wave_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,530},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,530},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,530},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1586},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1322},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1058},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,794},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,530},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,266},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,266},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,266},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,266},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,266},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1586},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1322},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1058},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,794},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,530},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,266},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>water_wave_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,262}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunlight.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8d6ac4d5fb1e80e9d8b046595bc1357:1/1$</string>
            <key>textureFileName</key>
            <string>sunlight.png</string>
        </dict>
    </dict>
</plist>
